body { color: brown;
background-color: beige;
margin: 0px
}

header {
border-bottom: solid 2px brown;
padding: 20px;
font-size:45px;
padding-bottom: 30px;
padding-top:  30px;
} 

.chamada { 
    background: rosybrown;
padding-bottom: 25px;
padding-top: 25px;
display: flex;
}

.chamada-texto {
margin-right: 10px;
}

h2 {
margin: 15px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;

}
.categoria {
padding-left: 20px;
padding-right: 20px;
background-color: rosybrown;

}

.categoria-videos img {
opacity: 0.6;
height:250px;


}

.categoria-videos img:hover{
opacity: 1.0;
border: 2px solid green;


}

.categoria h2{
color:black;

}

.chamada h1 {
color: black;

} 

.chamada p {
color: black;

}